<body id="dashboard">
    <div class="container">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h1><strong>Name:</strong> <%= @user.name %></h1>
        <li><strong>Email:</strong> <%= @user.email %></li>
        <li><strong>Address:</strong> <%= @user.address %></li>
        <li><strong>Role:</strong> <%= @user.role %></li>
      </div>
      <div class="col-md-4">
      </div>
    </div><br>
    <div class='container'>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <img id="senate" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Seal_of_the_United_States_Senate.svg">
      </div>
      <div class="col-md-4">
      </div>
  </div>
</body>
