<div class="splash">
  <div class="splash_top">
    <img id="small_logo" src="<%= image_path('lobbify.png') %>">
    <div class="tagline">
      <h2> Pencil in your senatorial 1-on-1 </h2>
      <h2> today with Lobbify!</h2>
    </div>
  </div>
  <div class="splash_text">
    <h1> this is text </h1>
  </div>
  <div class="splash_bottom">
  <h1> more text </h1>
  </div>
</div>