/*
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

#dashboard{
  background: linear-gradient(to left, #0099F7 , white );
}

#outing-index {
  border: 2px solid black;
  border-radius: 10%;
}
#outing-index p{
  text-align: center;
}
#outing-image{
  height: 150px;
  width: 175px;
  border: 1px solid black;
  border-radius: 10%;
  display: block;
  margin: auto;
}
#picture{
 height: 50px;
 width: 75px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar>li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.row{
  margin-bottom: 15px;
}
.politician_outing {
  text-align: center;
}

p.login-or-separator {
  margin-top: 10px;
}

#senate {
  height: 100%;
  width: 100%;
}
.pol-pic {
  width: 100%;
  border-radius: 10%;
  margin-bottom: 5px;
}
.pads {
  padding-top: 3%;
}
.info {
  text-align: center;
  font-size: 20px;
}
#user-show {
  background: linear-gradient(to right, #c3ccd2 , white );
}
#pol-img {
  height: 200px;
  width: 150px;
  margin-left: 100px;
  margin-top: 15%;
}

.img-div {
  display: flex;
  align-items: center;
}

#out-img {
  max-height: 350px;
}

#senate-show {
  height: 500px;
  width: 100%;
  margin: auto 0;
  margin-top: 10px;
}
