/*
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

body, html {
  height: 100%;
}

#outing-index {
  border: 2px solid black;
  border-radius: 10%;
}
#outing-index p{
  text-align: center;
}
#outing-image{
  height: 150px;
  width: 175px;
  border: 1px solid black;
  border-radius: 10%;
  display: block;
  margin: auto;
}
#picture{
 height: 50px;
 width: 75px;
}

.navbar {
  background: white;
  border-bottom: 1px solid black;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar>li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.row{
  margin-bottom: 15px;
}
.politician_outing {
  text-align: center;
}

p.login-or-separator {
  margin-top: 10px;
}

img#small_logo {
  padding: 5px;
  height: 100%;
}

.label {
  color: black;
}

.alert {
  margin-bottom: 0;
}
.splash {
  padding-top: -60px;
  height: 100%;
  font-family: 'Permanent Marker', cursive;
}

.splash_top {
  background-image: url('sky.jpg');
  background-size: cover;
  min-height: 400px;
  height: 80%;
  padding: 50px;
}

.splash_text {
  text-align: center;
  background: white;
  font-size: 2em;
}

.splash_bottom {
  background-image: url('flag.jpg');
  background-size: cover;
  height: 100%;
}

.splash_bottom_info {
  height: 300px;
  background-color: red;
  background-opacity: 0.4;
}

.tagline {
  color: white;
}

.tagline > h2 {
  font-size: 3em;
}

