<div class='container'>
  <% @politicians.each do |politician| %>
  <div class='row'>
  <h2><%=  politician.name %></h2>
    <% politician.outings.each do |outing|%>
      <%= render partial: 'shared/outing', locals: {outing: outing} %>
    <% end %>
  </div>
  <% end %>
</div>
