<!DOCTYPE html>
<html>
  <head>
    <title>Lobbify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse">
  <div class="navbar-class">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><img id='picture' src="http://www.clipartpanda.com/clipart_images/saves-you-money-and-time-41064225/download"/></li>
      </ul>
    </div>
  </div>
</header>
    <%= yield %>
  </body>
</html>
